/*----- start global style -----*/
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*----- end global style -----*/

body {
    background-color:#010165;
    font-family:"Work Sans";
    overflow-x:hidden;
}

/*----- start styling header -----*/

#header #logo {
    background-color:#0ff;
    text-align:center;
}

#title {
    text-align:center;
    margin:30px 0;
}
#title h3 {
    display:inline;
    font-size:24px;
    color:#0ff;
}

/*----- end styling header -----*/


/*----- start styling instructions -----*/

.instructions-row {
    width:350px;
    margin:0 auto;
}
.instructions-number {
    font-size:38px;
    padding-right:20px;
    color:#0ff;
}
.instructions-text {
    padding:10px;
    color:white;
}

/*----- end styling instructions -----*/


/*----- start styling doors -----*/

#door-row {
    text-align:center;
    margin:20px;
}

.door-frame {
    padding:10px;
    cursor:pointer;
}

/*----- end styling doors -----*/


/*----- start styling button -----*/

#start {
    margin:auto;
    width:120px;
    height:63px;
    background-color:orangered;
    border-radius:10px;
    padding-top:18px;
    font-weight:500;
    font-size:21px;
    text-align:center;
    margin-bottom:20px;
    color:#010165;
    cursor:pointer;
    box-shadow: 0 0 70px 10px rgb(46, 65, 236);
}
#start:hover {
    background-color:rgb(160, 52, 13);
}

/*----- end styling button -----*/



/*----- start styling score div -----*/

#all-score {
    color:#010165;
    text-align:center;
    width:350px;
    margin:10px auto; 
    display:flex;
    flex-direction:row;
    align-content: center;
    justify-content: center;
}
#all-score p {
    font-size:14px;
    color:white;
    align-self: center
}
#score {
    background-color:#0ff;
    height:80px;
    width:80px;
    display:block;
    margin-right:20px;
    color:black;
    font-size:65px;
    font-weight:700;
    border-radius:5px;
    margin:20px;
}
#high-score {
    background-color:#0ff;
    height:80px;
    width:80px;
    display:block;
    margin-left:50px;
    color:black;
    font-size:65px;
    font-weight:700;
    border-radius:5px;
    margin:20px;
}

/*----- end styling score div -----*/




/*----- start media responsive -----*/



/*----- end media responsive -----*/